body {
    font-family: "Raleway", sans-serif;
    padding: 20px;
}

h1 {
    font-size: 5vw;
}

h2, h4 {
    font-size: 4vw;
}

p, main, .bouton-style, section {
    font-size: 3vmin;
}


@media screen and (min-width: 1000px) {
    h1 {
        font-size: 3rem;
    }

    h2, h4, h5 {
        font-size: 2.25rem;
    }

    p, label, section {
        font-size: 1.5rem;
    }

    a {
        font-size: 3rem;
        justify-content: space-around;
    }
    .logo-img {
        max-width: 40%;
    }

    .taille-text-nav {
        font-size: 3vmin;
        text-decoration: underline;
        
    }
    
    .title-style {
        font-size: 3vmin;
    }

    .point-visible {
        display: none;
    }

    .titre-accueil {
        font-size: 60px;
    }

    .carousel-inner img {
        max-width: 100%;
        max-height: 100vh;
        margin: 0 auto;
    }

    .carousel {
        max-width: 800px;
        margin: 0 auto;
    }

    #inputNom.custom-form,
    #inputPrenom.custom-form,
    #inputEmail.custom-form,
    #inputTelephone.custom-form {
        height: auto;
        font-size: 200%;
        max-width: auto;
    }

    #Test.style-choix {
        height: 200px;
        width: 500px;
    }
    
}


@media (max-width: 999px) {

    .logo-img {
        max-width: 30%;
    }
    
    nav ul {
        text-align: center;
        font-size: 2rem;
    }
    
    nav li {
        display: inline;
        margin-right: 20px;
    }
    .para-style {
        font-size: 22px;
    }
    .carousel {
        max-width: 800px;
        margin: 0 auto;
    }
}


@media screen and (max-width: 426px) {
    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1.125rem;
    }

    .logo-img {
        max-width: 20%;
    }

    nav ul {
        text-align: center;
        font-size: 2rem;
    }

    nav li {
        display: inline;
        margin-right: 20px;
    }

    .navbar-brand {
        margin-right: 0;
    }

    .navbar-toggler {
        margin-left: auto;
    }

    .para-style {
        font-size: 4vmin;
    }

    .petite-marge {
        margin: 20px;
    }

    .taille-conteneur {
        width: 120px;
        background-color: blue;
        text-align: center;
    }
}



.title-style {
    text-decoration: underline;
    margin-bottom: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;

}

.fond-vert {
    background-color: #68f980;
}

.titre-accueil {
    background: linear-gradient(to right, #00ff00, #122cee);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    color: #fff;
    margin: 20px 0;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}
.style-lpo {
    background-color: #333;
    max-width: 100%;
    height: 100%;
}

.custom-modal {
    max-width: 800px;
    margin: 0 auto;
}

.custom-modal .modal-dialog {
    max-height: 80vh;
    max-width: 20000px;
}

.modal-verti-centre {
    display: flex;
    align-items: center;
    justify-content: center;
}
.style-lpo {
    background-color: #333;
    max-width: 100%;
    height: 100%;
}
.souligne {
    text-decoration: underline;
}
.image-container {
    max-width: 100%;
    align-self: flex-end;
    width: 100%;
    height: auto;
    border-radius: 10px;
}

header,
main,
.container,
.border,
#carouselExample,
.carousel-item,
.container-fluid,
.custom-modal {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.sans-ombre {
    box-shadow: 0 0px 0px rgba(255, 255, 255, 0.1);
}

.fond-para_style {
    background: linear-gradient(to right, #1eecf0, #1bee4f);
}

.fond-para_style2 {
    background: linear-gradient(to left, #1eecf0, #1bee4f);
}

.fond-blanc {
    background-color: #fff;
}

#testbtn.btn-form-style {
    width: 100%;
    font-size: 2vmin;
    border-radius: 1vmin;
    
}

footer {
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

h1 {
    font-size: 5.9vw;
}

h2 {
    font-size: 3.0vh;
}

p {
    font-size: 2vmin;
}